[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "mkkey"
version = "0.6.1"
description = "Application-Layer Key (JWK/PASERK) Generator"
authors = ["Ajitomi Daisuke <dajiaji@gmail.com>"]
readme = "README.md"
repository = "https://github.com/dajiaji/mkkey"

include = [
  ".pre-commit-config.yaml",
  "CHANGES.rst",
  "CODE_OF_CONDUCT.md",
  "LICENSE",
  "tox.ini",
  "mkkey/py.typed",
]

[tool.poetry.dependencies]
python = "^3.6.2"
cryptography = "^36.0.0"
pyseto = "^1.5.0"
click = "^8.0.3"
shellingham = "^1.4.0"
click-help-colors = "^0.9.1"

[tool.poetry.dev-dependencies]
pytest = "^6.2"
pytest-cov = "^3.0.0"
coverage = {extras = ["toml"], version = "^6.2"}
tox = "^3.24.4"
pre-commit = "^2.15.0"
mypy = "^0.910"
PyJWT = "^2.3.0"

[tool.poetry.scripts]
mkkey = "mkkey.cli:cli"

[tool.coverage.run]
parallel = true
branch = true
source = ["mkkey"]

[tool.coverage.paths]
source = ["mkkey", ".tox/*/site-packages"]

[tool.coverage.report]
show_missing = true

[tool.mypy]
ignore_missing_imports = true
