[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "mkkey"
version = "0.1.0"
description = "A Generic Application-Layer Key Generator supporting JWK and PASERK."
authors = ["Ajitomi Daisuke <dajiaji@gmail.com>"]
readme = "README.md"
repository = "https://github.com/dajiaji/mkkey"

[tool.poetry.dependencies]
python = "^3.6.2"
cryptography = "^36.0.0"
pyseto = "^1.5.0"
click = "^8.0.3"
shellingham = "^1.4.0"
click-help-colors = "^0.9.1"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
pytest-cov = "^3.0.0"
coverage = {extras = ["toml"], version = "^6.2"}
tox = "^3.24.4"
pre-commit = "^2.15.0"
mypy = "^0.910"

[tool.poetry.scripts]
mkkey = "mkkey.cli:cli"

[tool.coverage.run]
parallel = true
branch = true
source = ["mkkey"]

[tool.coverage.paths]
source = ["mkkey", ".tox/*/site-packages"]

[tool.coverage.report]
show_missing = true

[tool.flake8]
ignore = "E203,E501,"

[tool.mypy]
ignore_missing_imports = true
